<%= form_for @elec_load_type, :html => { :class => "form-horizontal elec_load_type" } do |f| %>

    <% if @elec_load_type.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@elec_load_type.errors.count, "error") %> prohibited this elec_load_type from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @elec_load_type.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :load_type, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :load_type, :class => 'form-control' %>
    </div>
    <%= error_span(@elec_load_type[:load_type]) %>
  </div>
  <div class="control-group">
    <%= f.label :dispaly, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :dispaly, :class => 'form-control' %>
    </div>
    <%= error_span(@elec_load_type[:dispaly]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            elec_load_types_path, :class => 'btn btn-default' %>

<% end %>
