<%- model_class = ElecLoadType -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:load_type) %>:</strong></dt>
  <dd><%= @elec_load_type.load_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:dispaly) %>:</strong></dt>
  <dd><%= @elec_load_type.dispaly %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              elec_load_types_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_elec_load_type_path(@elec_load_type), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              elec_load_type_path(@elec_load_type),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
