<%= form_for @panel, :html => { :class => "form-horizontal panel" } do |f| %>

    <% if @panel.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@panel.errors.count, "error") %> prohibited this panel from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @panel.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :emon_url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :emon_url, :class => 'form-control' %>
    </div>
    <%= error_span(@panel[:emon_url]) %>
  </div>
  <div class="control-group">
    <%= f.label :equip_ref, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :equip_ref, :class => 'form-control' %>
    </div>
    <%= error_span(@panel[:equip_ref]) %>
  </div>
  <div class="control-group">
    <%= f.label :panel_type, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :panel_type, :class => 'form-control' %>
    </div>
    <%= error_span(@panel[:panel_type]) %>
  </div>
  <div class="control-group">
    <%= f.label :parent_panel_id, :class => 'control-label' %>
    <div class="controls">
      <%# f.text_field :parent_panel_id, :class => 'form-control' %>
      <%= f.select :parent_panel_id, options_for_select([["Select Parent", 0]] + Panel.all.collect { |p| [ p.emon_url, p.id ] }), {}, {class: 'form-control'} %>
    </div>
    <%= error_span(@panel[:parent_panel_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :site_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :site_id, options_for_select(Site.all.collect { |p| [ p.display, p.id ] }), {}, {class: 'form-control'} %>
      <%# f.select("panel", "site_id", Site.all.collect{|site| [site.display, site.id]}, {include_blank: true})%>
      <%# f.select( "panel", "site_id", options_from_collection_for_select(Site.all, 'id', 'name') %>

      <%# f.text_field :site_id, :class => 'form-control' %>
    </div>
    <%= error_span(@panel[:site_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :no_of_circuits, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :no_of_circuits, :class => 'form-control' %>
    </div>
    <%= error_span(@panel[:no_of_circuits]) %>
  </div>
  <div class="control-group">
    <%= f.label :amp, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :amp, :class => 'form-control' %>
    </div>
    <%= error_span(@panel[:amp]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            panels_path, :class => 'btn btn-default' %>

<% end %>
