<%# debug(params) %>
<div class="subnavbar">

	<div class="subnavbar-inner">
	
		<div class="container">
			
			<a href="javascript:;" class="subnav-toggle" data-toggle="collapse" data-target=".subnav-collapse">
		      <span class="sr-only">Toggle navigation</span>
		      <i class="fa fa-list"></i>
		      
		    </a>

			<div class="collapse subnav-collapse">
				<ul class="mainnav">
				
					<li class="<%= params[:controller]=="home"? "active":"" %>"> 
						<a href="/">
							<i class="fa fa-home"></i>
							<span>Home</span>
						</a>	    				
					</li>
					<li class="<%= params[:controller]=="site_snapshots" ? "active" : "" %>"> 
						<a href="/site_snapshots/index?site=<%= @site.display %>">
							<i class="fa  fa-camera"></i>
							<span>Snapshot</span>
						</a>	    				
					</li>
					
					<li class="<%= params[:controller]=="site_usage" ? "active" : "" %>"> 				
						<a href="/site_usage/index?site=<%= @site.display %>">
							<i class="fa fa-bar-chart-o"></i>
							<span>Load Profile</span>
						</a>	    				
					</li>
					
					<li class="<%= params[:controller]=="heatmap" ? "active" : "" %>">					
						<a href="/heatmap/index?site=<%= @site.display %>">
							<i class="fa fa-money"></i>
							<span>Heat Map</span>
						</a>	    			
					</li>


					
					<li class="<%= params[:controller]=="analytics" ? "active" : "" %>">					
						<a href="/analytics/index?site=<%= @site.display %>">
							<i class="fa fa-leaf"></i>
							<span>Analytics</span>
						</a>	   				
					</li>

					<li class="<%= params[:controller]=="load_curve" ? "active" : "" %>">					
						<a href="/load_curve/index?site=<%= @site.display %>">
							<i class="fa fa-random"></i>
							<span>Load Curve</span>
						</a>	    			
					</li>

					<li class="<%= params[:controller]=="site_appliances"? "active":"" %>">					
						<a href="/site_appliances/index?site=<%= @site.display %>">
							<i class="fa fa-bolt"></i>
							<span>Appliances</span>
						</a>	   				
					</li>
				
				</ul>
			</div> <!-- /.subnav-collapse -->

		</div> <!-- /container -->
	
	</div> <!-- /subnavbar-inner -->

</div>
