<%= form_for @postal_code, :html => { :class => "form-horizontal postal_code" } do |f| %>

    <% if @postal_code.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@postal_code.errors.count, "error") %> prohibited this postal_code from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @postal_code.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :geo_postal_code, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :geo_postal_code, :class => 'form-control' %>
    </div>
    <%= error_span(@postal_code[:geo_postal_code]) %>
  </div>
  <div class="control-group">
    <%= f.label :geo_city, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :geo_city, :class => 'form-control' %>
    </div>
    <%= error_span(@postal_code[:geo_city]) %>
  </div>
  <div class="control-group">
    <%= f.label :geo_state, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :geo_state, :class => 'form-control' %>
    </div>
    <%= error_span(@postal_code[:geo_state]) %>
  </div>
  <div class="control-group">
    <%= f.label :tz, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :tz, :class => 'form-control' %>
    </div>
    <%= error_span(@postal_code[:tz]) %>
  </div>
  <div class="control-group">
    <%= f.label :weather_ref, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :weather_ref, :class => 'form-control' %>
    </div>
    <%= error_span(@postal_code[:weather_ref]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            postal_codes_path, :class => 'btn btn-default' %>

<% end %>
