<input type="hidden" name="date" id="current_date" value='<%= Time.now.strftime("%d-%m-%Y")%>'>
<input type="hidden" name="site_ref" id="site_ref" value="<%=  params[:site] %>">
<input type="hidden" id="prev_next" name="prev_next" value="0">
<input type="hidden" id="usage_tab" name="usage_tab" value="day">

<%= render :partial=>"shared/subnavbar" %>
<script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['corechart']}]}"></script>
<div ng-app="demoApp">
  <div class="wrapper row-offcanvas row-offcanvas-left" ng-controller="DemoCtrl">

    <!-- Right side column. Contains the navbar and content of the page -->
    <aside class="right-side strech">
    <!-- Content Header (Page header) -->
    <section class="content-header">
    <h1>
      <%= @site.display  %>
      <small>Power Usage</small>
    </h1>
    <span id="site" style="display:none"><%= @site.display%></span>
    <span id="current_date" style="display:none"><%= Time.now.strftime("%d-%m-%Y")%></span>
    <ol class="breadcrumb">
      <li><a href="#">Site</a></li>
      <li class="active"><%= @site.display  %></li>
    </ol>
    </section>

    <!-- Main content -->
    <section class="content">

    <!-- Main row -->
    <div class="row">
      <section class="col-lg-12 connectedSortable"> 

      <!-- box-body -->
      <div class="box-body no-padding row-fluid">
        <div class="nav-tabs-custom">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_1" data-toggle="tab" class="day">Day</a></li>
            <li><a href="#tab_2" data-toggle="tab" class="week">Week</a></li>
            <li><a href="#tab_3" data-toggle="tab" class="month">Month</a></li>
            <li><a href="#tab_4" data-toggle="tab" class="year">Year</a></li>
 

            <li class="pull-right"><a href="#" class="next_date"><i class="fa fa-chevron-right"></i></a></li>
              <li class="pull-right"><a href="#" id="display_date_label" range="day" value="<%= Time.now.strftime('%Y-%m-%d')%>"><%= Time.now.strftime('%d %B %Y')  %></a></li>
              <li class="pull-right"><a href="#" class="prev_date"><i class="fa fa-chevron-left"></i></a></li>


          </ul>
          <div class="tab-content">
            <%= render "day_graph" %>
            <%= render "week_graph"%>
            <%= render "month_graph" %>
            <%= render "year_graph" %>

          </div><!-- /.tab-content -->
        </div>

      </div><!-- /.box-body-->
      <div class="box-footer">
        <button class="btn btn-info"><i class="fa fa-download"></i> Export Data</button>
      </div> 
      </section>


    </div><!-- /.row (main row) -->
    </section><!-- /.content -->
    </aside><!-- /.right-side -->
  </div><!-- ./wrapper -->
</div>

