<%= render :partial=>"shared/subnavbar" %>
<div class="wrapper row-offcanvas row-offcanvas-left" ng-controller="SiteCircuitController">
	<aside class="right-side strech">
  <!-- Content Header (Page header) -->
	  <section class="content-header">
		  <h1> 
		    <%= @site.display  %>
		    <small><%= @circuit.display %></small>
		  </h1>
		  <span id="site" style="display:none"><%= @site.display%></span>
		  <ol class="breadcrumb">
		    <li><a href="#">Site</a></li>
		    <li class="active"><%= @site.display  %></li>
		  </ol>
	  </section>

	  <!-- Main content -->
	  <section class="content">
	  <!-- Main row -->
	  	<div class="row">
	  	</div>

	  </section>
	</aside>

	<aside class="left-side sidebar-offcanvas" style="min-height:725px;top: 134px;width: 200px;">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">

        </ul>
    </section>
    <!-- /.sidebar -->
	</aside>
</div>