<%= form_for @site_group_mapping, :html => { :class => "form-horizontal site_group_mapping" } do |f| %>

    <% if @site_group_mapping.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@site_group_mapping.errors.count, "error") %> prohibited this site_group_mapping from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @site_group_mapping.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :site_group_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :site_group_id, :class => 'form-control' %>
    </div>
    <%= error_span(@site_group_mapping[:site_group_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :site_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :site_id, :class => 'form-control' %>
    </div>
    <%= error_span(@site_group_mapping[:site_id]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            site_group_mappings_path, :class => 'btn btn-default' %>

<% end %>
