<%- model_class = SiteGroupMapping -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:site_group_id) %>:</strong></dt>
  <dd><%= @site_group_mapping.site_group_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:site_id) %>:</strong></dt>
  <dd><%= @site_group_mapping.site_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              site_group_mappings_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_site_group_mapping_path(@site_group_mapping), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              site_group_mapping_path(@site_group_mapping),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
