<%= form_for @elec_meter, :html => { :class => "form-horizontal elec_meter" } do |f| %>

    <% if @elec_meter.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@elec_meter.errors.count, "error") %> prohibited this elec_meter from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @elec_meter.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :meter_type, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :meter_type, :class => 'form-control' %>
    </div>
    <%= error_span(@elec_meter[:meter_type]) %>
  </div>
  <div class="control-group">
    <%= f.label :meter_main, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :meter_main, :class => 'form-control' %>
    </div>
    <%= error_span(@elec_meter[:meter_main]) %>
  </div>
  <div class="control-group">
    <%= f.label :display, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :display, :class => 'form-control' %>
    </div>
    <%= error_span(@elec_meter[:display]) %>
  </div>
  <div class="control-group">
    <%= f.label :site_id, :class => 'control-label' %>
    <div class="controls">
      <%# f.text_field :site_id, :class => 'form-control' %>
      <%= f.select :site_id, options_for_select([["Select site", 0]] + Site.all.collect { |p| [ p.display, p.id ] }, @elec_meter.site_id), {}, {class: 'form-control'} %>
    </div>
    <%= error_span(@elec_meter[:site_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :meter_loc, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :meter_loc, :class => 'form-control' %>
    </div>
    <%= error_span(@elec_meter[:meter_loc]) %>
  </div>
  <div class="control-group">
    <%= f.label :phase, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :phase, :class => 'form-control' %>
    </div>
    <%= error_span(@elec_meter[:phase]) %>
  </div>
  <div class="control-group">
    <%= f.label :amp, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :amp, :class => 'form-control' %>
    </div>
    <%= error_span(@elec_meter[:amp]) %>
  </div>
  <div class="control-group">
    <%= f.label :volt, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :volt, :class => 'form-control' %>
    </div>
    <%= error_span(@elec_meter[:volt]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            elec_meters_path, :class => 'btn btn-default' %>

<% end %>
