<%- model_class = ElecMeter -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:meter_type) %>:</strong></dt>
  <dd><%= @elec_meter.meter_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:meter_main) %>:</strong></dt>
  <dd><%= @elec_meter.meter_main %></dd>
  <dt><strong><%= model_class.human_attribute_name(:display) %>:</strong></dt>
  <dd><%= @elec_meter.display %></dd>
  <dt><strong><%= model_class.human_attribute_name(:site_id) %>:</strong></dt>
  <dd><%= @elec_meter.site_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:meter_loc) %>:</strong></dt>
  <dd><%= @elec_meter.meter_loc %></dd>
  <dt><strong><%= model_class.human_attribute_name(:phase) %>:</strong></dt>
  <dd><%= @elec_meter.phase %></dd>
  <dt><strong><%= model_class.human_attribute_name(:amp) %>:</strong></dt>
  <dd><%= @elec_meter.amp %></dd>
  <dt><strong><%= model_class.human_attribute_name(:volt) %>:</strong></dt>
  <dd><%= @elec_meter.volt %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              elec_meters_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_elec_meter_path(@elec_meter), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              elec_meter_path(@elec_meter),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
